<form action="/article/add" method="post">
    Title:
    <input type="text" name="title">
    <br>
    Description:
    <textarea name="description" id="" cols="30" rows="10"></textarea>
    <input type="submit">
</form>