<table border="1">
    <tr>
        <th>Article</th>
    </tr>
    {{#each articles}}
        <tr>
            <td><a href="/article/details/{{this.articleID}}">{{this.articleName}}</a></td>
        </tr>
    {{/each}}
</table>