extends ../layout
block content
    h2 Contact us
    form
        label Your name:
        br
        input(type="text" name="name")
        br
        br
        label Your message:
        br
        textarea(name="message")
        br
        input(type="submit" value="Send")