<!DOCTYPE html>
html
    head
        title Food food food...
        link(rel='stylesheet' href="/public/style/layout.css")
    body
        header
            nav
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/about") About
                    li
                        a(href="/contact") Contact us
                    li
                        a(href="/recipe/add") Add Recipe
                    li
                        a(href="/recipe/all") All Recipes
        main
            block content
        footer &copy; Boris Vasilev